* {
   padding: 0;
   margin: 0;
}
.background {
   background-color: rgb(0, 0, 0);
   height: 100vh;
   padding-top: 1px;
}
.title {
   color: white;
   text-align: center;
   font-size: 40;
   margin-top: 4%;
}
.display {
   padding-top: 20px;
   color: white;
   text-align: center;
   font-size: 40;
   margin-top: 1em;
}
.hide {
   display: none;
}
.container {
   padding-top: 30px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 33% 33% 33%;
   max-width: 300px;
}
.tile {
   border: 1px solid white;
   min-width: 100px;
   min-height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 50px;
   cursor: pointer;
}
.playerX {
   color: rgb(255, 255, 255);
   font: sans-serif;
}
.playerO {
   color: rgb(255, 255, 255);
   font: sans-serif;
}
.controls {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 1em;
}

#reset {
   background-color: red;
   color: white;
   padding: 8px;
   border-radius: 8px;
   border: none;
   font-size: 24px;
   margin-left: 1em;
   cursor: pointer;
}
